<%# locals: (day:) %>
<%= link_to calendar_week_path(date: day[:date].strftime("%Y-%m-%d")),
    class: "block rounded border border-gray-200 bg-white p-2 hover:border-gray-300 hover:shadow-sm transition-all #{"calendar-adjacent" unless day[:in_month]}" do %>
  <span class="text-xs font-medium block text-center sm:text-left"><%= day[:date].day %></span>
  <div class="mt-0.5 flex flex-col items-center space-y-0.5">
    <% CategoryTypeHelper::CATEGORY_TYPES.each do |type| %>
      <% amount = day[:totals][type] %>
      <% if amount.positive? %>
        <div class="text-xs leading-none <%= category_type_color(type) %> font-medium">
          <%= compact_currency(amount) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
