<%# Flash Messages %>
<div class="fixed top-4 left-1/2 transform -translate-x-1/2 w-full max-w-sm z-50" data-controller="shared--flash">
  <% flash.each do |type, message| %>
    <div class="<%= flash_class(type) %> rounded shadow-md p-4 mb-4 flex items-center" 
         data-flash-target="message"
         role="alert">
      <div class="mr-3">
        <%= flash_icon(type) %>
      </div>
      <div class="flex-1 text-sm font-medium">
        <%= message %>
      </div>
      <button type="button" 
              class="ml-4 inline-flex text-current opacity-75 hover:opacity-100 focus:outline-none" 
              data-action="shared--flash#dismiss">
        <%= heroicon "x-mark", options: { class: "h-5 w-5" } %>
      </button>
    </div>
  <% end %>
</div> 