<%# Header with search and actions %>
<%= render "categories/_partials/header" %>

<%# Category type filter tabs %>
<%= render "categories/_partials/filter_tabs" %>

<%# Main Content %>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <% if @categories.present? %>
    <% @categories.each do |category| %>
      <%= render "categories/_partials/category_card", category: category %>
    <% end %>
  <% else %>
    <%= render "categories/_partials/empty_state" %>
  <% end %>
</div>
